*{
    margin: 0;
    padding: 0;
}
$fondo:pink;

.bgnav{
    background-color:$fondo;
}
.navbar-brand::before{
    content:"🍷";
}

a{
    color:black;
span{
    color:purple;
    }
}
.jumbotron{
    background-image: url(../images/brindis.jpg);
    background-size: cover;
    background-position: center;
    color:black;
    height: 100%;
    width: 100%;
    border-radius: 0;
    margin:0;
    p{
        color:white
    }
}
.nav-link{
    text-transform: capitalize;
    text-shadow: 0 0 rgb(15, 15, 15);
    :hover{
    color:black  !important ;
    }
}
.btn-secondary{
    background-color: black;
    color: white;
    margin:8px;
    :hover{
    background-color: darkgoldenrod;
    transform: scale(1.1);} }
h2{
    background-color: $fondo;
    text-transform: capitalize;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color:black;
    padding: 10px;
    margin: 0;
    }
    section{
        background-color: white;
    .al {
        background-image: url(../images/estantes.jpg);
        background-size: cover;
        background-position: center;
        height: 400px;
    }
    .ar h3{
        text-align: center;
        color:rgb(4, 4, 4);
    }
    .ar p{
        color: black;
    }
    .ar p::selection{
        color:black;
        background-color: darkgoldenrod;
    }
}
footer{
    background-color:$fondo;
    text-align: center ;
    color:black;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: large;
    text-transform: capitalize;
    padding: 18px;

.redes{
    font-size: 28px;
    letter-spacing: 15px;
}
.redes a{
    color:white;
}
}